.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var upyunURL = "https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p
        | © #{year} #[a(href=config.url)!= config.author],
        | powered by #[a(href=hexoURL, target="_blank", rel="noopener") Hexo],
        | #[a(href=apolloURL, target="_blank", rel="noopener") hexo-theme-apollo] and 
        a(href=upyunURL, target="_blank", rel="noopener")
            img(src=url_for("/images/upyun_logo.png"), alt="upyun_logo", height=16)
        | .