mixin link_style(url)
    link(rel="preload", href=url, as="style" onload="this.onload=null;this.rel='stylesheet'")
    noscript
        link(rel="stylesheet", href=url)

meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="icon", href=url_for(theme.favicon))

+link_style(url_for("css/apollo.css"))
+link_style("https://cdn.bootcss.com/KaTeX/0.10.2/katex.min.css")

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
    
